body{
  position: absolute;
  width: 100%;
  height: 100vh;
  top:0;left:0;
  margin: 0;padding: 0;border: 0;
  background-color: white;
}

#stetasview{
  position: absolute;
  left: 0;top:0;
  width: 100%;
  height: 100vh;
}

.main{
  position: absolute;
  width: 100%;
  height: 90vh;
}

.Home{
  position: absolute;
  width: 100%;
  height: 100vh;
}
.back{
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100vh;
}

.vaner{
    position: absolute;
    left: 0;top: 0;
    width: 100%;
    height: auto;
}

.userdata{
  position: absolute;
  background-color: rgba(73, 43, 102, 0.356);
  top: 0;left: 0;

  width: 100%;
  height: auto;
}

#userstatusmenu{
  background-color: rgba(91, 121, 204, 0.356);
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.username,.userlank,.userexp{
  margin: 10px;
  font-size: 24px;
  font-style: italic;
  height: 90px;
}

#id{
  position: absolute;
  width: 100%;
  height: 50vh;
  background-color:skyblue;
  opacity: 0.6;
}


.homechara{
  position: absolute;
  height: inherit;
  left:50px;
  top: 0px;
}
.Menu{
  position: absolute;
  top: 10%;
  left: 50%;
  width: 50%;
}

.HomeMenu-Linkscontent{
  background-color:  rgba(0,0,0,0.7);
}

@media screen and (orientation :portrait){/*縦画面ならメニューボタンは下半分に*/
  .HomeMenu-Linkscontent{
    position: absolute;
    width: 100%;
    height: 30%;
    top:70%;
    left: 0%;
  }
  .Menu-content{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    height: fit-content;
    background-image: url("../img/menu/btn048_04.png");
  }
  .HomeMenu-btn-content{
    flex-grow: 1;
    width: auto;
    height: 110px;
  }
  .MenuLink-div{
    text-align: center;
    font-size:36px;
  }
}

@media screen and (orientation :landscape){/*横画面ならメニューボタンは➡半分に*/
  .MenuLink-div{
    size: 16px;
    
  }

  .HomeMenu-Linkscontent{
    position: absolute;
    width: 50%;
    height: 80%;
    top:110px;
    left: 50%;
  }
  .MenuBtn-content{
    position: absolute;
    width: 80%;
    height: fit-content;
    background-image: url("../img/menu/btn048_04.png");
  
  }
}
