div{
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN','American Typewriter','ＭＳ Ｐ明朝','MS PMincho',sans-serif;
  }

/*メニューバーコンテンツ*/
.MenuVar-content{
    z-index: 9000;
    background-color:rgba(0,0,0,0.7);
    position: absolute;
    top: 0px;
    width: 100%;
    height: 0vh;
    margin: 0; padding:0; border:0;
    transition: all 1s ease;
 }

 #menuoparate-btnimg{
     width: 50px;
     height: 50px;
 }
.menuoperate{
    position: absolute;
    top:0;
    right: 10px;
    width: auto;
}
   /*メニューバー親オブジェクト*/
#Menu-links-content{
    overflow-y:hidden;
    overflow-x:hidden;

    position: absolute;
    justify-content: space-evenly;
    transition: all 300ms 0s ease;
}

/*メニューバー子オブジェクト*/
.Menulink{
    text-align: center;
    height: auto;
    padding: 5px;
}

.MenuLinkSpan{
    width: 100%;
    height: 100vh;
    background-image: url("../img/menu/btn048_02.png");
}

.closemenu{
    visibility: hidden;
    width: 0%;
    height: 0%;
    transform: translateY(-300px);
 }

 .openmenu{
    transform: translateY(60px);
 }

#menu_contents{
    display: grid;
    grid-template-rows: repeat(6,60px);
}

#Mypage{
    grid-row: 1;
}
#Party{
    grid-row: 2;
}
#Gradeup{
    grid-row: 3;
}
#Quest{
    grid-row: 4;
}
#Userdata{
    grid-row: 5;
}
#Logout{
    grid-row: 6;
}
#Option{
    grid-row: 7;
}

.openoption{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.7;
}
.closeoption{
    width: 0%;
    height: 0%;
    opacity: 0;
}
.option_content_frame{
    margin: auto; padding:auto; border: auto;
    text-align: center;
    position: relative;
    background-color: aqua;
    width: 300px;
    height: 500px;
}
#option_content_body{
    margin: auto; padding:auto; border: auto;
    text-align: center;
    position: relative;
    width: 250px;
    height: 450px;
}

@media screen and (orientation: landscape){/*横画面なら縦に広げる*/
    /*メニューバー親オブジェクト*/
    #Menu-links-content{
        right: 0px;

        display: block;
        width: 110px;
        height: auto;
    }
    .MenuLinkBtn{
        width: auto;
    }
}
