<html>
<head>
  <meta charset="utf-8">

    <script src="js/sprite.js"></script>
    <script src="js/Battlescenes/Battlescene_Audio.js"></script>
    <link rel="stylesheet" href="css/battlemap1.css" />

</head>
<body>
  <audio id="battlebgm" loop preload="auto" autoplay src="audio/bgm/boss0.ogg">
      <source type="audio/mpeg"  src="audio/bgm/boss0.ogg">
        html未対応
  </audio>

<div class="battlestageview">
  <div id="mainview">
    <div class="battle-stage-datas">
     <div id="battle-stageinfo-datas" data-backimg="img/battlescene/mapimgtest.jpg"></div>
     <div id="battle-stage-enemydatas" ></div>
     <div id="battle-party-datas" data-partyleaderid="0" data-partymember-id-1="0"data-partymember-id-2="1"data-partymember-id-3="2"data-partymember-id-4="3"></div>
   </div>
    <img id ="back" src="img/battlescene/mapimgtest.jpg">
    <div class="lernGroup">
      <img class="lernline" src="img/battlescene/lern.jpg">
      <img class="lernline" src="img/battlescene/lern.jpg">
      <img class="lernline" src="img/battlescene/lern.jpg">
      <img class="lernline" src="img/battlescene/lern.jpg">
    </div>
    <canvas id="maincanvas"></canvas>

    <div id="stetasview">
      <ul class="stetaschild">タイトル</ul>
      <ul class="stetaschild" id="enemycount"></ul>
      <ul class="stetaschild" id="scoreview"></ul>
      <ul class="stetaschild" id="returnbutton"><a href="Mainindex.html">マイページに戻る</a></ul>
    </div>

  </div>

  <div id="InputMenu">
    <canvas style="z-index:10;"id="Inputview" ></canvas>
  </div>
  <div class="inputicons">
    <div class="partymembers-icon"  class="deth" id="member1-icon" value=0>
      <img class="iconImg" id="membericonimg1" src=img/characters/face1.jpg>
      <div class="back_box" id="backbox_member1"></div>
      <div class="HP_box alive" id="HPbox_member1"></div>
      <img class="Mainframe" id="member1" src="img/battlescene/charaframe.jpg">
      <img class="Combframe" id="member1" src="img/battlescene/combImg.jpg">
      <div class="member_comb" id="Comb_member1">コンボ数</div>
      <div class="memberstetasview" id="member1_stetas">ステータスだよ</div>
    </div>
    <div class="partymembers-icon" id="member2-icon" value=1>
      <img class="iconImg" id="membericonimg2" src=img/characters/face2.jpg>
      <div class="back_box" id="backbox_member2"></div>
      <div class="HP_box alive" id="HPbox_member2"></div>
      <img class="Mainframe" id="member2" src="img/battlescene/charaframe.jpg">
      <img class="Combframe" id="member2" src="img/battlescene/combImg.jpg">
      <div class="member_comb" id="Comb_member2">コンボ数</div>
      <div class="memberstetasview" id="member2_stetas">ステータスだよ</div>
    </div>
    <div class="partymembers-icon" id="member3-icon" value=2>
      <img class="iconImg" id="membericonimg3" src=img/characters/face3.jpg>
      <div class="back_box" id="backbox_member3"></div>
      <div class="HP_box alive" id="HPbox_member3"></div>
      <img class="Mainframe" id="member3" src="img/battlescene/charaframe.jpg">
      <img class="Combframe" id="member3" src="img/battlescene/combImg.jpg">
      <div class="member_comb" id="Comb_member3">コンボ数</div>
      <div class="memberstetasview" id="member3_stetas">ステータスだよ</div>
    </div>
    <div class="partymembers-icon" id="member4-icon" value=3>
      <img class="iconImg" id="membericonimg4" src=img/characters/face4.jpg>
      <div class="back_box" id="backbox_member4"></div>
      <div class="HP_box alive" id="HPbox_member4"></div>
      <img class="Mainframe" id="member4" src="img/battlescene/charaframe.jpg">
      <img class="Combframe" id="member4" src="img/battlescene/combImg.jpg">
      <div class="member_comb" id="Comb_member4">コンボ数</div>
      <div class="memberstetasview" id="member4_stetas">ステータスだよ</div>    </div>
  </div>
</div>
<!--jQuery-->
  <script type="text/javascript" src="js/prag/jquery-3.3.1.js"></script>

  <script type="text/javascript" src="js/Battlescenes/battlescenemainscript.js"></script>
  <script src="js/Battlescenes/characterdatas.js"></script>
  <script src="js/Battlescenes/CharacterData.js"></script>
  <script src="js/Battlescenes/EnemyData.js"></script>
  <script src="js/Battlescenes/ScoreCol.js"></script>
  <script src="js/Battlescenes/Battleparty.js"></script>
  <script src="js/Battlescenes/Battleenemy.js"></script>
  <script src="js/Battlescenes/battlescene_maincanvas.js"></script>

  <script src="js/Battlescenes/NotesClass.js"></script>
<script>
  init();
  run();
</script>

</body>
</html>
