<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/Mainindexstyle.css" />
    <script type="text/javascript" src="js/prag/jquery-3.3.1.js"></script>

    <title>メインindex</title>
  </head>
  <body>
    <div class="sidever">
      <div class="sidemenu" id="Homerequest"><a href="Mainindex.html" class="inputsidemenu" id="Homerequest" type="button" name="homereq" >マイページ</a></div>
      <div class="sidemenu" id="Battlescenerequest"><input class="inputsidemenu" id="Battlescenerequest" type="button" name="battlereq" value="クエスト"></div>
      <div class="sidemenu" id="AccountData"><input class="inputsidemenu" id="AccountData" type="button" name="accountreq" value="プレイヤーデータ" /></div>
      <div class="sidemenu" id="Logoutreq"><button class="inputsidemenu" id="logoutbutton" onclick="Logout()">ログアウト</button></div>
    </div>
    <div class="outputview">
      <main>
        <div class="Mainhtml">

        </div>
      </main>
    </div>
    <div class="View-frame"></div>

    <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>
    <script type="text/javascript">
        var ip = "192.168.3.10";

      $(window.onload=function(){
        bubbly();
        $.ajax({
            url:'php/Mypage.php',
            type:"post",
            success:function(data){
                $('.Mainhtml').html(data);
                console.log("成功");
            },
            error:function(data){
              $('body').html(data);
                console.log("失敗");
            }
          });
      });

      $(function(){
        $('.sidemenu #Homerequest').click(function(){
          $.ajax({
            url:'php/Mypage.php',
            dataType:'html',
            type:"post",
            success:function(data){
                $('.Mainhtml').html(data);
                console.log("成功");
            },
            error:function(data){
                console.log("失敗");
            }
          });
        });

        $('.sidemenu #Battlescenerequest').click(function(){
          $.ajax({
            url: 'BattleScene.html',
            dataType:"html",
            type:"post",

            success:function(data){
                console.log("成功");
                location.href='BattleScene.html';
            },
            error:function(data){
              $('.Mainhtml').html(data+"失敗");
                console.log("失敗");
            }
          });
        });

        $('.sidemenu #AccountData').click(function(){
          $.ajax({
            url:'php/Useraccountpage.php',
            dataType:"html",
            type:"post",
            success:function(data){
                $('.Mainhtml').html(data);
                console.log("成功");
            },
            error:function(data){
                console.log("失敗");
            }
          });
        });
      });

      function Logout(){
        $.ajax({
            url:'php/outpage.php',
            dataType:"html",
            type:"post",
            success:function(data){
               location.href="LoginHome.html";
            },
            error:function(data){
                console.log("失敗");
            }
          });
      }
    </script>
  </body>
</html>
